
@{
    ViewBag.Title = "About";
}

<h1>About Us</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>Slider</title>
    <link rel="stylesheet" href="~/Content/AboutStyle.css">
</head>
<body>
    <br />
    <div class="title">
        <h1>About Us</h1>
    </div>
    <div class="slider">
        <div class="images">
            <input type="radio" name="slide" id="img1" checked>
            <input type="radio" name="slide" id="img2">
            <input type="radio" name="slide" id="img3">
            <input type="radio" name="slide" id="img4">

            <img src="~/Images/1.jpg" class="m1" alt="img1">
            <img src="~/Images/37.jpg" class="m2" alt="img2">
            <img src="~/Images/32.jpg" class="m3" alt="img3">
            <img src="~/Images/24.jpg" class="m4" alt="img4">
            <img src="~/Images/33.jpg" class="m4" alt="img5">
        </div>
        <div class="dots">
            <label for="img1"></label>
            <label for="img2"></label>
            <label for="img3"></label>
        </div>
    </div>

    <div class="content">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
        </p>
    </div>
</body>