
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>Slider</title>
    <link rel="stylesheet" href="~/Content/StyleVideo.css">
</head>
<body>
    <video autoplay loop muted plays-inline class="back-video">
        <source src="~/Images/file_11.mp4" />
    </video>
    <div class="content">
        <h1>Shop Online</h1>
    </div>
    <br />
    <br />
    <br />
    <br />
</body>
